# Don't track emacs temporary files
*~

# Output files and executables
*.out
pfm
*.exe

# Fortran module files
*.mod

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Automake files

Makefile.in
Makefile

# Autoconf files

autom4te.cache
autoscan.log
autoscan-*.log
aclocal.m4
compile
config.h.in
configure
configure.scan
depcomp
install-sh
missing
stamp-h1
config.log
config.status
